{% extends "views/base/base.html.twig" %}
{% block body %}

    <div class="container">
        <div class="col-lg-3 col-md-3">
            <div class="list-chat">

            </div>
        </div>
        <div class="chatbox">
            <div class="col-lg-9 col-md-9">
                <div id="chat" class="screen-dialogs">
                {% include 'views/fragments/_chat-messages.html.twig' %}
                </div>
            </div>
            <div class="panel panel-footer col-lg-9 col-md-9">
                <div class="row">
                    <form class="" method="post" action="">
                        <input type="text" placeholder="chat here!" class="chat-text" name="message" maxlength="255">
                        <button id="send" type="submit" class="btn btn-primary btn-default btn-block">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/chat.js"></script>

{% endblock %}