{% extends "views/base/base.html.twig" %}
{% block body %}

    <div class="sidelist">
   {% include 'views/fragments/_chat-list.html.twig' %}
    </div>
    <script src="/js/chat.js"></script>

{% endblock %}