{% extends "views/base/base.html.twig" %}

{% block body %}
    {% include 'views/fragments/_message.html.twig' %}
    <div class="container main-container">
        <h2 class="line"><span>Lorem Lipsum</span></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam beatae dolorem eveniet fugit, ipsa labore rerum unde veritatis voluptas. Cupiditate dolorum facere fugit nobis optio perspiciatis quisquam, repellendus voluptatum?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad amet asperiores, aspernatur aut culpa dolor dolore error facilis ipsa nobis officia officiis possimus quae repudiandae tempora veniam vero voluptate.</p>
    </div>
{% endblock %}