<div class="bg_header">
    <div class="container">
        <div class="header">
            <div class="{% if app.isLogged %}col-sm-2{% else %}col-sm-6{% endif %}">
                <h1 class="title"><a href="{{ path_for('homepage') }}">Matcha</a></h1>
            </div>
        </div>
    </div>
</div>
<div class="subheader">
    <div class="container">
    </div>
</div>
