{% extends "views/base/base.html.twig" %}

{% block body %}
    <div class="container main-container">
        <div class="toAdopt">
            <h2 class="line"><span>Forgot Password</span></h2>
            <div class="row  form form-register">
                <form class="form-inline col-xs-12 col-sm-12" method="post" action="{{ path_for('forgotPassword') }}" >

                    <div class="form-group col-xs-12 col-sm-offset-2 col-sm-8">
                        <label class="col-xs-3 col-sm-3" for="mail">Mail</label>
                        <input class="col-xs-9 col-sm-9" type="mail" id="mail" name="mail" placeholder="Votre adresse email" value="{{ form.mail }}" required>

                        {% if error.mail %}
                            <div class="col-xs-12 alert alert-danger">
                                {% for errors in error.mail %}
                                    {{ errors }} <br>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    <button type="submit" class="col-xs-12 col-sm-offset-4 col-sm-4 btn btn-default">Envoyer</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}